<h1>My Favorite Songs to Play</h1>
<% @songs.each_with_index do |song, i| %>
<ol>
<h4>(<%= i + 1 %>) <%= song.name %> by <%= song.artist %> - <%= song.genre %></h4><a href="/songs/<%= song.id %>/edit">Edit</a> <a href="/songs/<%= song.id %>">View</a>
</ol>
<% end %>
<br>
<br>
<br>
<br><a href='/users/home'>View Homepage</a>
<br><a href='/songs/new'>Add a Song</a>
<br><a href='/logout'>Log Out</a>

